.badgeWrapper{
  position: absolute !important;
  top: -3px;
  right: -3px;
}
#lastLabel{
  margin-left: -10px !important;
}
.bottomNavMenu{
  //position:'fixed',width:168,maxHeight:300,bottom:58,right:0
  position: fixed;
  width: 168px;
  max-height: 300;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 58px !important;
  right: 0px !important;
  left:auto !important;
  top: auto !important;
}
